* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  background-color: #333;
  font-family: sans-serif;
  color: #ccc;

  h1 {
    color: rgb(187, 132, 30);
  }

  .questions {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .question {
      background-color: #000;
      padding: 1rem;

      ul {
        margin-left: 1rem;
        margin-top: .5rem;
        color: rgb(221, 221, 121);

        li.correct {
          color: lightgreen;
        }
      }
    }
  }

  .choices {
    margin-left: 2rem;

    li {
      span {
        cursor: pointer;

        &:hover {
          font-weight: bold;
          color: yellow;
        }
      }
      margin-bottom: .5rem
    }
  }



}